.project-card{
    height: 500px;
    width: 500px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 6px 20px var(--shadow);
    color: var(--body-text);
    border-radius: 10px;
    margin: 0;
    display: flex;
}

h2, p, body{
    margin: 0;
    padding: 0;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('../media/background.png');
        background-size: cover;
    }
    .project-card{
        width: 80vw;
        height: 70vh;
    }
}